<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vaccination track</title>
		<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../static/js/echarts.min.js"></script>
		<script type="text/javascript" src="../static/js/world.js"></script>
        <script type="text/javascript" src="../static/js/echarts-wordcloud.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	</head>
	<body>
		<div id="title">Real Time Coronavirus Vaccination Tracker</div>
		<div id="clock"></div>
		<div id="l1">l1</div>
		<div id="l2">l2</div>
		<div id="c1">
			<div class="txt"><h1>Total vaccinations</h1></div>
			<div class="txt"><h1>People vaccinated</h1></div>
			<div class="txt"><h1>People fully vaccinated</h1></div>	
			<div class="txt"><h1>Daily vaccinations</h1></div>	
			<div class="num"><h1></h1></div>
			<div class="num"><h1></h1></div>
			<div class="num"><h1></h1></div>
			<div class="num"><h1></h1></div>
		</div>
		<div id="c2">
			<div class="txt2"><h1>Total vaccinations %</h1></div>
			<div class="txt2"><h1>People vaccinated %</h1></div>
			<div class="txt2"><h1>People fully vaccinated %</h1></div>	
			<div class="num2"><h1></h1></div>
			<div class="num2"><h1></h1></div>
			<div class="num2"><h1></h1></div>
		</div>
		<div id="c3">c3</div>
		<div id="r1">r1</div>
		<div id="r2">r2</div>

		<div id="r3a">
			<div class="visit"><a href="https://info.flagcounter.com/Y3TC"><img src="https://s05.flagcounter.com/count/Y3TC/bg_333333/txt_FFFFFF/border_333333/columns_3/maxflags_3/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Free counters!" border="0"></a></div>
		</div>
		<div id="r3b">
			<div class="txt3">
				<p>Source: <a target="_blank" href="https://www.bbc.com/news/topics/c87z0we2g0zt/coronavirus-vaccines" one-link-mark="yes">BBC</a>
				<br>
				<a target="_blank" href="https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations" one-link-mark="yes">Our World in Data</a>
				<br>
				By Rui Wang</p>
			
			</div>
		</div>	
		
		<script type="text/javascript" src="../static/js/ec_center.js"></script>
		<script type="text/javascript" src="../static/js/ec_left1.js"></script>
        <script type="text/javascript" src="../static/js/ec_left2.js"></script>
        <script type="text/javascript" src="../static/js/ec_right1.js"></script>
        <script type="text/javascript" src="../static/js/ec_right2.js"></script>
		<script type="text/javascript" src="../static/js/controller.js"></script>
	</body>
</html>
